body{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: dimgrey;
    
}

.CarbonaraHeader{
    font-family: 'Times New Roman', serif;
    color: burlywood;
    margin-top: 100px;
    font-size: 70px;
}

.ChickenHighlight{
    font-family:'Times New Roman', Times, serif;
    color: black;
    margin-top: 60px;
    font-size: 30px;
}

.ChickenLine{
    font-family:'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
}

.IngredientsHead{
    font-size: 20px;
}

.IngredientsDes{
    font-family:'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
}

.StepsHead{
    font-size: 20px;
}

.StepsDes{
    font-family:'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
}

.StepsList{
    margin-left: 345px;
    margin-inline-end:250px;
}